.bg-banner{
    background-color: #264653;
    color:white;
}
.hero-button{
    background-color:  #E76F51;
    border-radius: 5px;
    padding: 10px 20px;
    color:#fff;
}
.fetured-gray img{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.orangee-text{
    color: #E76F51;
}
.user{
    color:
}
.card:hover{
    outline: purple solid 4px;
}

.footer-bg{
    background: #0B0D17;
}

.form-fill-up{
    background-image: url(images/form.jpg);
    background-size: cover;
}
.rider{
    color:#55efc4
}